.header{
  width: 1961px;
  height: 80px;
  background: white;
  display: flex;
  position: relative;
}

.navigation{
  width: 1110px;
  height: 80px;
  margin: 0 auto;
  display: flex;
}

.logo{
  width: 65px;
  height: 58px;
  background-image: url('../../logo.png');
  display: flex;
  position: absolute;
  left: 405px;
  top: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.54));
}

.search{
  width: 326px;
  height: 32px;
  display: flex;
  position: absolute;
  left: 499px;
  top: 21px;
  border: none;
}

.search_input{
  width: 326px;
  height: 32px;
  background: #E4E4E4;
  border: none;
  border-radius: 30px;
  outline:none;
  padding-left: 10px;
  margin-left: 29px;
}

.nav{
  display: block;
  position: absolute;
  width: 610px;
  height: 32px;
  left: 934px;
  top: 25px;
}

.nav_list{
  display: inline-flex;
  list-style-type: none;
}

.nav_item{
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 30px;
  color: black;
}

.nav_item:nth-child(1){
  margin-left: 89px;
}

.header_profile{
  display: flex;
  position: absolute;
  left: 1361px;
  height: 80px;
}

.lang{
  position: absolute;
  left: 100px;
  top: 28px;
  width: 34px;
  height: 19px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
}