.wrapper{
    position: absolute;
    left: 410px;
    top: 472px;
    width: 1100px;
    height: 222px;
    display: flex;
}
.news{
    width: 285px;
    height: 361px;
    background: #FFFFFF;
    border-radius: 10px; 
    margin-right: 30px; 
}

  
.contest{
    width: 287px;
    height: 361px;
    background: #FFFFFF;
    border-radius: 10px;  
}

.title{
    padding-top: 17px;
    text-align: center;
    width: 215px;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.item{
    position: relative;
    display: flex;
    width: 240px;
    height: 45px;
    padding: 13px;
}

.img{
    width: 36px;
    height: 36px;
    background-image: url('../img/Vector.png');
    margin-left: 10px;
}

.name{
    display: inline;
    width: 160px;
    height: 26px;
    margin-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-align: left;
    margin-left: 22px;
}

.value{
    position: absolute;
    top: 30px;
    left: 45px;
    width: 159px;
    height: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #C4C4C4;
}

.link{
    text-decoration: none;
    position: absolute;
    width: 88px;
    height: 20px;
    top: 320px;
    left: 170px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: #CC0000;

}