*{
  margin: 0;
  padding: 0;
}

body{
  background: #E5E5E5;
  overflow-x: hidden;
}

.App{
  width: 1961px;
  background: #E5E5E5;
  position: relative;
}
.content{
  width: 1961px;
  background: #E5E5E5;
  position: relative;
}

.wrapper{
  position: absolute;
  width: 1117px;
  height: 323px;
  left: 398px;
  margin-top: 34px;
  display: flex;
  justify-content: center;
}


.wrapper h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.line {
  position: absolute;
  width: 81px;
  height: 0px;
  top: 45px;
  border: 2px solid #CC0000;
}

.wrapper__top{ 
  display: flex;
  position: absolute;
  padding-left: 10px;
  width: 1110px;
  height: 222px;
  top: 70px;
  border-radius: 10px;  
  flex-direction: row;
  box-sizing: border-box;
}

.top__block {
  display: flex;
  min-width: 351px;
  height: 222px;  
  margin-right: 30px;
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
}


.project__logo{
  position: absolute;
  width: 120px;
  height: 128px;
  background-image: url('./img/logo_project.png');
  top: -20px;
  left: -10px;
}

.project__title{
  position: absolute;
  width: 111px;
  height: 26px;
  top: 20px;
  left: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.project__city{
  position: absolute;
  width: 111px;
  height: 26px;
  top: 40px;
  left: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #7A7A7A;
}

.project__description{
  display: block;
  position: absolute;
  width: 291px;
  height: 69px;
  top: 87px;
  left: 26px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.more {
  position: absolute;
  width: 291px;
  height: 69px;
  top: 190px;
  left: 240px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #CC0000;
  text-decoration: none;
}

.slider{
  position: absolute;
  width: 1110px;
  height: 222px;
}




